.THIS .defaultColor {
    color: #696969;
}

.THIS .defaultBorder {
    border: #bfc5cf thin solid;
    border-radius: 5px;
    padding: 20px;
}

.THIS .defaultMargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.THIS .marginBottom {
    margin-bottom: 10px;
}

.THIS .maxWidth input,
.THIS button.maxWidth {
    width: 100%;
    margin-left : 0px;
}

.THIS .maxWidth input {
    border: #bfc5cf thin solid;
}

.THIS .maxWidth label {
	margin-bottom: 0px;    
}

.THIS .maxWidth abbr {
    display: none;
}

.THIS .defaultButton {
    border: #ff3333 1px solid;
    color: #ffffff;
    background-color: #ff3333;
}

.THIS .defaultButton:hover {
    color: #ff3333;
    background-color: #ffffff;
}

.THIS .defaultLink {
    color: #ff3333;
    font-weight: 700;
}

.THIS .errMsg {
    color: #ff3333;
    text-align: center;
}