.THIS.contactSupportStyle {
    text-align: left;
    margin: auto;
    max-width: 285px;
}
.THIS .toggle {
   display: none;
 }
.THIS .refundBtn {
    color: #ffffff;
    border-radius: 2px;
    padding: 15px 0;
    background-color: rgb(245, 0, 0);
    border: none;
    font-weight: 700;
    color: #ffffff;
    font-size: 1em;
    margin: 0;
    width: 100%;
    -webkit-transition: background .8s ease;
    transition: background .8s ease;
    text-transform: capitalize;
}
.THIS .refundBtn:hover {
    background-color: #c20000;
}
.THIS.hiddenElm{
    display: none;
}
.THIS .notLoading {
    display: none;
}

.THIS .loading {
    display: block;
}
.THIS .hideErrorMsg{
    display: none;
}
.THIS .errorMsgTxt{
    color: #ffffff;
}
.THIS .errorMsg .slds-icon{
    fill: #fff;
}
.THIS .slds-popover_tooltip .slds-popover__body, .THIS .slds-popover--tooltip .slds-popover__body{
    color: white;
}
.THIS .tooltipCls{
    position:absolute;
    margin-top: -10px;
    margin-left: 30px;
}
.THIS input.error, .THIS select.error {
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}
.THIS .close .slds-icon-text-default {
    fill: white !important;
}
.THIS.padLeft {
    padding-left: 15px;
}
.THIS .padLeftNull {
    padding-left: 0px;
}
.THIS .padTop {
    padding-top: 5px;
}
.THIS .padHeader {
    padding-top: 20px;
    padding-bottom: 10px;
}
.THIS .slds-form-element__icon {
    padding-left: 5px;
}
.THIS.marginBottom {
    margin-bottom: 30px;
}
.THIS .caseHeader {
    border-bottom: none;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-top: 0px;
    background-color: white;
}
.THIS .submit {
    color: white;
    background-color: #CC0000;
    border-radius: 5px;
   /* border: 1px solid #7ac9b7; */
}
.THIS .resetFont span {
    font-size: 1rem;
}
.THIS .resetFont abbr {
    /*color: rgb(105, 105, 105);*/
    display: none;
}
.THIS .commentHeight {
    height: 150px;
}