.THIS .laBtn{
  height: auto !important;
  width: 100% !important;
}

.THIS .busy{
  cursor: wait !important;
  pointer-events: auto;
}

.THIS .disabled{
  cursor: default !important;
  pointer-events: none;
}

.THIS .disabled:hover{
  cursor: default !important;
  pointer-events: none;
}

.THIS .disabled:focus{
  background-color: #c2cacf !important;
  cursor: default !important;
  pointer-events: none;
}

.THIS .toggle {
    display: none !important;
}
.THIS .activeBtn .slds-icon{
    fill: #04844b;
}
.THIS .offlineBtn .slds-icon {
    fill: #5A5D63;
}