/**
 * The MIT License (MIT) (https://github.com/jerray/jk-keyboard/blob/master/LICENSE)
 * Copyright (c) 2015 小雨 Jerray
 * https://github.com/jerray/jk-keyboard
 */
.jk-keyboard {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  opacity: 0.2;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transform: translate3d(0, 120%, 0);
  -moz-transform: translate3d(0, 120%, 0);
  -ms-transform: translate3d(0, 120%, 0);
  transform: translate3d(0, 120%, 0); }
  .jk-keyboard.open {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.jk-key {
  font-size: 24px;
  font-family: sans-serif;
  color: #000;
  display: block;
  text-align: center;
  position: absolute;
  width: 25%;
  border: 1px solid #dedfe2;
  margin: -1px;
  background-color: #fff; }
  .jk-key.submit {
    color: #fff; }
    .jk-key.submit.disabled {
      color: #06bf04; }
  .jk-key.jk-text {
    font-size: 22px; }
  .jk-key.down {
    background-color: #ededed; }
  .jk-key.jk-left-0 {
    left: 0%; }
  .jk-key.jk-left-1 {
    left: 25%; }
  .jk-key.jk-left-2 {
    left: 50%; }
  .jk-key.jk-left-3 {
    left: 75%; }
  .jk-key.jk-top-0 {
    top: 0%; }
  .jk-key.jk-top-1 {
    top: 25%; }
  .jk-key.jk-top-2 {
    top: 50%; }
  .jk-key.jk-top-3 {
    top: 75%; }

.jk-keyboard {
  height: 260px; }

.jk-key {
  height: 65px;
  line-height: 65px; }
  .jk-key.jk-height-0 {
    height: 65px;
    line-height: 65px; }
  .jk-key.jk-height-1 {
    height: 130px;
    line-height: 130px; }
  .jk-key.jk-height-2 {
    height: 195px;
    line-height: 195px; }
  .jk-key.jk-height-3 {
    height: 260px;
    line-height: 260px; }

@media only screen and (max-height: 570px) {
  .jk-keyboard {
    height: 240px; }

  .jk-key {
    height: 60px;
    line-height: 60px; }
    .jk-key.jk-height-0 {
      height: 60px;
      line-height: 60px; }
    .jk-key.jk-height-1 {
      height: 120px;
      line-height: 120px; }
    .jk-key.jk-height-2 {
      height: 180px;
      line-height: 180px; }
    .jk-key.jk-height-3 {
      height: 240px;
      line-height: 240px; } }
@media only screen and (max-height: 500px) {
  .jk-keyboard {
    height: 200px; }

  .jk-key {
    height: 50px;
    line-height: 50px; }
    .jk-key.jk-height-0 {
      height: 50px;
      line-height: 50px; }
    .jk-key.jk-height-1 {
      height: 100px;
      line-height: 100px; }
    .jk-key.jk-height-2 {
      height: 150px;
      line-height: 150px; }
    .jk-key.jk-height-3 {
      height: 200px;
      line-height: 200px; } }

/*# sourceMappingURL=jk-keyboard.css.map */
