.THIS .myTiles {
    background-color: token(AABackgroundColor);
    cursor: pointer;
}
.THIS .callcentres .slds-icon {
    fill: #5A5D63;
}
.THIS.headerRed {
    color: #E0051B !important;
}
.THIS .noPadLeft {
	padding-left: 0px;
    border-bottom: 1px solid #BFC5CF;
}

.THIS .cmpFont {
    font-size: 15px;
    font-weight: 500;   
}
.THIS.headerFont {
    font-size: 20px;
    font-weight: 500;
}