.THIS .file {
    margin-bottom: 5px;
    display: block;
}
.THIS .hideElement{
    display: none;
}
.THIS .section_title {
    align-items: center;
    background: #f4f6f9;
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: currentColor;
    font-size: inherit;
    padding: 0 0.5rem;
}
.THIS .marginLeft {
	margin-left: 10px;
}
.THIS .errMsg {
    color: #a00000;
}