<apex:page showHeader="false" controller="ChatController" language="{!lang}">
    <c:ChatHeaderCmp date="{!todaysValue}" header="{!$Label.Live_Agent_Live_Chat}" />
    <style type="text/css">
        #liveAgentClientChat.liveAgentStateWaiting {
        // The CSS class that is applied when the chat request is waiting to be accepted
        // See "Waiting State" screenshot below
        background : red;
        }
        #liveAgentClientChat {
        // The CSS class that is applied when the chat is currently engaged
        // See "Engaged State" screenshot below
        }
        #liveAgentClientChat.liveAgentStateEnded {
        // The CSS class that is applied when the chat has ended
        // See "Ended State" screenshot below
        }
        #liveAgentQueuePosition.hide_queuePos {
            display: none;
        }
        #liveAgentChatLogAlertMessage {
            display:block;
        }
        div#liveAgentChatLogAlertMessage:empty {
           display: none;
        }
        #waitingMessage { 
            height: 100%; 
            width: 100%; 
            vertical-align: middle; 
            text-align: center;
        /*display: none; */
        }
        #liveAgentClientChat.liveAgentStateWaiting #waitingMessage { 
            display: table; 
        }
        #liveAgentClientChatSettings {
            border-radius: 5px;
        }
        #liveAgentClientChat {
            text-align: right;
        }
        button.liveAgentChatElement.liveAgentEndButton {
            border-radius: 3px;
            background: #FF3333;
            display: inline-block;
            color: #fff;
            margin: 5px 10px 5px 10px;
            padding: 4px 15px;
        }
        #liveAgentChatLog {
            text-align: left;
            padding-left: 10px;
            width: auto;
            border-radius: 5px;
            border: 1px solid #7ac9b7;
            overflow-x: hidden;
            overflow-y: auto;
        }
        #liveAgentChatLogText {
            margin: 10px;
        }
        #liveAgentChatLogText .operator .client {
            float: left;
            padding: 8px 10px 0px 10px;
            margin-bottom: 10px;
            clear: both;
            position: relative;
            width: 100%;
        }
        #liveAgentChatLogText .client {
            text-align: right !important;
        }
        #liveAgentChatLogText .name {
            font-weight: 700;
            font-size: 1em;
            line-height: 1.2;
            display: block;
            white-space: pre;
        }
        #liveAgentChatLogText .messageText {
            white-space: pre-wrap;
            display: inline-block;
            text-align: left;
            background-color: #ECECEC;
            position: relative;
            margin: 0.2em 0em 0.4em 0em;
            padding: 8px 10px 8px 10px;
            border: 1px solid #E2E8ED;
            border-radius: 3px;
            max-width: 100%;
            line-height: 1.3 !important;
            font-weight: 200 !important;
            font-size: 1em !important;
            box-sizing: border-box;
            word-wrap: break-word;
            word-break: break-word;
        }
        #liveAgentChatLogText .client .messageText {
            background-color: #00C778 !important;
            color: white;
        }
        #chatfooter {
            background-color: white;
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid #7ac9b7;
            display: flex;
            width: 95%;
        }
        #chatfooter form {
            height: 100%;
            border-right-style: groove;
        }
        #chatfooter span:first-child {
            width : 90%;
        }
        #liveAgentChatInput {
            margin-bottom: 0px;
            margin-top: 7px;
            width: 90%;
            padding: 0px;
            border: 0;
        }
        #liveAgentChatInput:focus {
            outline: none;
        }
        button.liveAgentChatElement.liveAgentSendButton {
            border-radius: 3px;
            background: #FF3333;
            display: inline-block;
            color: #fff;
            margin: 5px 10px 5px 10px;
            padding: 4px 15px;
        }
        #liveAgentQueuePosition .liveAgentQueuePosition {
            padding-left: 5px;
            color: red;
            font-size: 2em;
        }
        .displayDIV {
            display : block !important;
        }
        div#liveAgentChatFileTransfer {
            display : none;
            background-color: #DDF1C9;
            height: 45px;
            margin-top: 0px;
            z-index: 20;
        }
        div#fileDragArea {
            position: absolute;
            left: 0;
            right: -6px;
            text-align: center;
            line-height: 40px;
            font-size: 14px;
            z-index: 0;
        }
        a#fileDragLink {
            color: #1D5CA4;
            text-decoration: none;
        }
        button#fileCancelButton {
            position: absolute;
            right: 360px;
            margin-top: 10px;
            z-index: 3;
            background-image: url({!$Resource.icon_close});
            background-color: transparent;
            background-position: 0 0;
            width: 17px;
            height: 17px;
            border: none;
            color: transparent;
            cursor: pointer;
        }
        button#fileCancelButton:hover {
            background-position: -30px 0;
        }
        button#fileCancelButton.file_transfer_selected {
            position: absolute;
            left: 360px;
            margin-top: 11.4px;
            margin-left: 16px;
            z-index: 3;
            background-image: url({!$Resource.icon_close});
            background-color: #E8E8E8;
            background-position: 0 0;
            width: 17px;
            height: 17px;
            border: none;
            color: transparent;
            cursor: pointer;
            padding-right: 12px;
        }
        button#fileSendButton {
            background-color: #6D7391 !important;
            display: inline-block;
            padding: 0.3rem !important;
            border-radius: 3px;
            border-width: 0px;
            right: 360px;
            margin-top: 10px;
            position: absolute;
            font-family: Arial;
            font-size: 1em;
        }
        div#chatWindow {
            background-color: #E4E4E4;
        }
        @media screen and (max-width: 1050px) {
            button#fileCancelButton, button#fileSendButton {
                right: 200px;
            }
            button#fileCancelButton.file_transfer_selected {
                left: 200px;
            }
        }
        @media screen and (max-width: 950px) {
            button#fileCancelButton, button#fileSendButton {
                right: 150px;
            }
            button#fileCancelButton.file_transfer_selected {
                left: 150px;
            }
        }
        @media screen and (max-width: 850px) {
            button#fileCancelButton, button#fileSendButton {
                right: 100px;
            }
            button#fileCancelButton.file_transfer_selected {
                left: 100px;
            }
        }
        @media screen and (max-width: 678px) {
            button#fileCancelButton, button#fileSendButton {
                right: 20px;
            }
            button#fileCancelButton.file_transfer_selected {
                left: 20px;
            }
        }
        @media screen and (max-width: 600px) {
            button#fileCancelButton, button#fileSendButton {
                right: 10px;
            }
            button#fileCancelButton.file_transfer_selected {
                left: 10px;
            }
        }
    </style>
    
    <script>
    window.onload = function()
    {
        try {
            
            chatContainer = document.getElementById ("liveAgentClientChatSettings");
            
            lastClassName = chatContainer.className;
            var loadChat = window.setInterval( function() {   
                var className = chatContainer.className;
                if(className !== lastClassName) {
                    // Hide Waiting Msg & Display Chat Window 
                    if (lastClassName === 'no_save no_chat no_brand' && className === 'no_save no_brand') {
                        document.getElementById ("waitingMessage").style.display = 'none';
                        document.getElementById ("chatWindow").style.display = 'block';
                    } else if(className.includes("file_transfer_requested")) {
                        // Display Upload Link
                        if(!lastClassName.includes("file_transfer_requested")){
                            document.getElementById ("liveAgentChatFileTransfer").classList.add("displayDIV");
                        } else if(className.includes("file_transfer_selected")) {
                            document.getElementById ("fileCancelButton").classList.add("file_transfer_selected");
                        } else if(lastClassName.includes("file_transfer_selected")) {
                            document.getElementById ("fileCancelButton").classList.remove("file_transfer_selected");
                        }
                        
                        if(document.getElementById ("fileSelectInput").style.display !== 'none') {
                            document.getElementById ("fileCancelButton").classList.add("file_transfer_selected");
                        }
                        
                    } else if(!className.includes("file_transfer_requested") && lastClassName.includes("file_transfer_requested")) {
                        // Display Upload Link
                        document.getElementById ("liveAgentChatFileTransfer").classList.remove("displayDIV");
                        document.getElementById ("fileCancelButton").classList.remove("file_transfer_selected");
                    }
                    
                    lastClassName = className;
                }
            }, 1000);
            
            chatIdleStateContainer = document.getElementById ("liveAgentClientChat");
            lastStateClassName = chatIdleStateContainer.className;
            var loadChat1 = window.setInterval( function() {   
                var stateClassName = chatIdleStateContainer.className;
                
                if(stateClassName !== lastStateClassName) {
                    if(stateClassName === 'liveAgentState' && lastStateClassName === 'liveAgentState liveAgentStateIdleAlert') {
                        document.getElementById('liveAgentChatLogAlertMessage').innerHTML = '';
                    }
                    lastStateClassName = stateClassName;
                }
            }, 1000);
            
            try{
                
                var url = window.location.href;
                var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
                // we'll store the parameters here
                var obj = {};
                 // if query string exists
                if (queryString) {
                    // split our query string into its component parts
                    var arr = queryString.split('&');
                    for (var i = 0; i < arr.length; i++) {
                        // separate the keys and the values
                        var a = arr[i].split('=');
                        // set parameter name and value (use 'true' if empty)
                        var paramName = a[0];
                        var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];
                        obj[paramName]=paramValue;
                    }
                }
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.ChatController.getEstimatedWaitTime}',
                     obj.org_id,
                     obj.deployment_id,
                     obj.button_id,
                    function(result, event){
                        if (event.status) {
                            if(result) {
                                try {
                                   if(result !=null){
                                        document.getElementById("estimatedWaitTime").innerHTML = "{!$Label.Live_Agent_Estimated_Wait_Time_Message}"+' '+result;
                                   }else{
                                        console.log('Error Occured -- '+ result);    
                                   }
                                } catch(err) {
                                    console.log('Error while showing EstiatedTime - ' + err);
                                }
                            }	
                        } else if (event.type === 'exception') {
                            console.log('Error Message - ' + event.message + "\n WHERE - " + event.where);
                        } else {
                            console.log('Message - ' + event.message);
                        }
                    },
                    {escape: true}
                );
        	}
            catch(error) {
            	console.log('Error while Calculating the AverageWaitTime - ', error);
        	}
        } catch(err) {
            console.log('Error while registrating event - ', err);
        }
    }
    </script>
    <body style="padding:0 0 0 0; margin:0 auto;-webkit-text-size-adjust:none;-ms-text-size-adjust: 100%; font-family:Arial, Helvetica, sans-serif; background-color:#f3f3f3; font-size:14px;">
        <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F3F3F3" class="emailwrapto100pc" style="-webkit-text-size-adjust:none;-ms-text-size-adjust: 100%;">
            <tr>
                <td align="center">
                    <table class="emailwrapto100pc" border="0" cellspacing="0" cellpadding="0" width="640" align="center">
                    <tr>
                        <td align="center">
                            <table>
                                <tr>
                                    <liveAgent:clientChat >
                                        <liveAgent:clientChatSaveButton />
                                        <liveAgent:clientChatEndButton />
                                        <div>
                                            <liveAgent:clientChatAlertMessage />
                                            <liveAgent:clientChatStatusMessage />
                                            <table id="waitingMessage" cellpadding="0" cellspacing="0">
                                                <tr style="{!IF(Lower($Label.Live_Agent_Flash_Message) != 'blank','color:red;','display:none;')}">
                                                	<td style="color:red;">
                                                        <strong><p>{!$Label.Live_Agent_Flash_Message}<br/></p></strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>
                                                            {!$Label.Live_Agent_Wait_Message}
                                                             <!--Charles Thompson, Salesforce Singapore - 11 Dec 18 - Remove the queue position -->
                                                            <!--<liveAgent:clientChatQueuePosition label="{!$Label.Live_Agent_Queue_Message}" />-->
                                                            <div id="estimatedWaitTime"></div>
                                                        </strong>
                                                        <br />
                                                        <apex:image url="{!$Resource.ProgressBar}"/>
                                                        <div class="spinner">
                                                            <div class="bounce1"></div>
                                                            <div class="bounce2"></div>
                                                            <div class="bounce3"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div id="chatWindow" style="display:none;">
                                                <div style="background-color: #ffffff;">
                                                    <liveAgent:clientChatLog />
                                                    <liveAgent:clientChatLogAlertMessage />
                                                </div>
                                                <div id="chatfooter">
                                                    <liveagent:clientChatInput />
                                                    <liveAgent:clientChatSendButton />
                                                </div>
                                                <liveAgent:clientChatFileTransfer />
                                            </div>
                                        </div>
                                    </liveAgent:clientChat>
                                </tr>
                            </table>
                            <table class="emailwrapto100pc" width="640" border="0" cellspacing="0" cellpadding="0">
                            </table>
                        </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
    <c:EmailTemplateFooterCmp />
</apex:page>