<apex:page tabStyle="Case" controller="WS_AsyncAceFindPersonCtrl" contentType="application/javascript; charset=utf-8" sidebar="false" showHeader="false" standardStyleSheets="false" showChat="false" action="{!startAceFindPerson}">
{!jsonRespStr}
<!--{!findPersonResponseData}-->

<!--    <apex:slds />    -->
<!--
    <div class="slds-scope">
        
        <div class="slds-form slds-form_compound" id="tabIndex1">
            
    
            <apex:outputPanel rendered="{!isErrorOccured}">
                <div class="" style="height: 4rem;">
                    <div class="slds-notify_container slds-is-relative">
                        <div class="slds-notify slds-notify_toast slds-theme_error" role="alert">                    
                            <div class="slds-notify__content">
                                <h2 class="slds-text-heading_small">You've encountered some errors when trying to view the details.</h2>
                                <p align="center" >{!errorMessage}</p>
                            </div>                    
                        </div>
                    </div>
                </div>
            </apex:outputPanel>
            
            <apex:outputPanel rendered="{!NOT(isErrorOccured)}">
                <fieldset class="slds-form-element">
                    <div id="tab-scoped-1" class="slds-tabs_scoped__content slds-show" role="tabpanel" aria-labelledby="tab-scoped-1__item"><b>Get Person Details</b></div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">Title</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!title}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">FirstName</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!firstName}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">LastName</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!lastName}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">Nationality</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!nationality}</div>
                            </div>                            
                        </div>
                    </div>
                    
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">DOB</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!dOB}</div>
                            </div>                            
                        </div>
                    </div>             
                </fieldset>
                <fieldset class="slds-form-element">
                    <div id="tab-scoped-1" class="slds-tabs_scoped__content slds-show" role="tabpanel" aria-labelledby="tab-scoped-1__item"><b>Find Person Details</b></div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">Eamil</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!personEmailAddress}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">PersonID</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!personID}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">PersonType</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!personType}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">PhoneNumber</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!phoneNumber}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">Status</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!status}</div>
                            </div>                            
                        </div>
                    </div>
                </fieldset>
                
                <fieldset class="slds-form-element">
                    <div id="tab-scoped-1" class="slds-tabs_scoped__content slds-show" role="tabpanel" aria-labelledby="tab-scoped-1__item"><b>Address Details</b></div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">AddressLine1</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!addressLine1}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">AddressLine2</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!addressLine2}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">AddressLine3</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!addressLine3}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">City</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!city}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">CountryCode</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!countryCode}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">PostalCode</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!postalCode}</div>
                            </div>                            
                        </div>
                    </div>
                    <div class="slds-form-element__group slds-border_bottom">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-4">
                                <div class=" slds-text-align_align_left slds-m-around_x-small">provinceState</div>
                            </div>
                            <div class="slds-size_3-of-4">
                                <div class="slds-text-align_align_left slds-m-around_x-small">{!provinceState}</div>
                            </div>                            
                        </div>
                    </div>
                </fieldset>     
            </apex:outputPanel>
        </div> 
    </div>  --> 
    
</apex:page>