.THIS .divLast {
    line-height: 20px;
    text-align: left;
}
.THIS .divPadding {
    padding: 10px;
}
.THIS .divFirst {
    text-align: left;
    padding-left: 20%;
    padding-top: 20px;
}

@media only screen and (max-width: 1025px) {
    .THIS .divFirst {
        padding-left: 10%;
    }        
}

@media only screen and (max-width: 925px) {
    .THIS .divFirst {
        padding-left: 5%;
    }        
}

@media only screen and (max-width: 768px) {
    .THIS .divFirst {
        text-align: center;
        padding-top: 0px;
    }
    .THIS .divLast {
       	margin-left: 20%;
    	margin-top: 10px;
    }
}
@media only screen and (max-width: 668px) {
    .THIS .divLast {
       	margin-left: 10%;
    }
}
@media only screen and (max-width: 590px) {
    .THIS .divLast {
       	margin: 10px;
    }
}