<apex:component >
    <apex:attribute name="header" type="String" description="header value in component" required="true"/>
    <apex:attribute name="date" type="String" description="Date value in component" required="true"/>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="title" content="{!header}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="{!header}" />
        <title>{!header}</title>
        <style type="text/css">
            @import url("https://fonts.googleapis.com/css?family=Roboto");   
            *{
            font-family: Roboto,san-serif !important;
            }
            /* Outlook link fix */
            #outlook a {
            padding: 0;
            }
            /* Hotmail background and line height fixes */
            .ExternalClass {
            width: 100% !important;
            }
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
            }
            /* Image borders and formatting */
            img {
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
            }
            a img {
            border: none;
            }
            /* Re-style iPhone automatic links (eg. phone numbers) */
            .appleLinks a {
            color: #000000;
            text-decoration: none;
            }
            .appleLinksWhite a {
            color: #ffffff;
            text-decoration: none;
            }
            /* Hotmail symbol fix for mobile devices */
            .ExternalClass img[class^=Emoji] {
            width: 10px !important;
            height: 10px !important;
            display: inline !important;
            }
            @media screen and (max-width: 600px) {
            /* This resizes tables and images to be 100% wide with a proportionate width */
            
            table[class=emailwrapto100pc],
            img[class=emailwrapto100pc] {
            width: 100% !important;
            height: auto !important;
            border: none !important;
            }
            /* This resizes body text for mobiles */
            
            td[class=textsizeeleven] {
            font-size: 11px !important;
            line-height: 13px !important;
            width: 100px !important;
            }
            td[class=textsizenine] {
            font-size: 9px !important;
            padding: 3px !important;
            letter-spacing: -1px !important;
            }
            td[class=buttonpadding] {
            padding: 10px 5px 10px 3px !important;
            }
            /* Hide stuff on mobiles */
            
            table[class=emailnomob],
            td[class=emailnomob],
            img[class=emailnomob],
            span[class=emailnomob] {
            display: none !important;
            }
            table[class=emailcolsplit],
            td[class=emailcolsplit] {
            width: 100%!important;
            float: left!important;
            text-align: center !important;
            }
            table[class=center] {
            margin-left: auto !important;
            margin-right: auto !important;
            }
            }
            input[type=text] {
            margin-bottom: 10px;
            margin-top: 10px;
            width: 90%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #f4f4f4;
            font: inherit;
            color: inherit;
            font-size: 1rem;
            }
            select {
            margin: 10px;
            width: auto;
            padding: 7px;
            border-radius: 5px;
            border: 1px solid #f4f4f4;
            font: inherit;
            color: inherit;
            font-size: 1rem;
            }
            textarea {
            width: 88%;
            padding: 15px;
            margin-top: 10px;
            border: 1px solid #f4f4f4;
            border-radius: 5px;
            margin-bottom: 20px;
            resize: none;
            font: inherit;
            color: inherit;
            font-size: 1rem;
            }
            input[type=text]:focus,
            textarea:focus {
            border-color: #4697e4;
            }
            input[type=submit] {
            margin-bottom: 20px;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #7ac9b7;
            background-color: #4180C5;
            color: aliceblue;
            font-size: .875rem;
            cursor: pointer;
            }
            #submit:hover {
            background-color: black;
            }
            @media screen and (max-width: 600px) and (min-width: 351px) {
            label {
            font-size: 12px;
            }
            input[type=submit] {
            padding: 5px;
            }
            input[type=text] {
            padding: 8px;
            width: 90%;
            }
            textarea{
            width: 88%;
            }
            }
            @media screen and (max-width: 350px) {
            input[type=submit] {
            padding: 4px;
            }
            input[type=text] {
            padding: 8px;
            width: 80%;
            }
            textarea{
            width: 76%;
            }
            label {
            font-size: 12px;
            }
            }
            
        </style>
    </head>
    <c:EmailTemplateHeaderCmp date="{!date}" header="{!header}" />
</apex:component>