<apex:component access="global" controller="EmailTemplateController">
    <apex:attribute name="labelName" description="Custom Label Name" type="String" assignTo="{!labelValue}"/>
    <apex:attribute name="labelDataArray" description="Custom Label Data Replacer Array" type="String" assignTo="{!labelData}"/>
    
    <div style="background-color: #F3F3F3;">
        <c:EmailTemplateHeaderCmp date="{!todaysValue}" header="{!$Label.Header_Notification}" />
        <c:EmailTemplateBodyCmp bodyData="{!formattedLabel}" /> 
        <c:EmailTemplateFooterCmp />
    </div>
</apex:component>