<apex:component >
    <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F3F3F3" class="emailwrapto100pc" style="-webkit-text-size-adjust:none;-ms-text-size-adjust: 100%;">
        <tr>
            <td align="center">
                <table class="emailwrapto100pc" border="0" cellspacing="0" cellpadding="0" width="620" align="center">
                    <tr>
                        <td class="emailcolsplit" height="15"></td>
                        <td class="emailcolsplit" width="200" height="15" align="center" valign="top"></td>
                    </tr>
                    <tr>
                        <td class="emailcolsplit" valign="top">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td style="padding-left:10px;padding-right:10px;">
                                        <a href="{!$Label.Footer_Facebook_Image_Link}" target="_blank" style="text-decoration:none;"> 
                                            <img style="padding-right:5px;" title="{!$Label.Footer_AirAsia_on_Facebook}" src="{!$Label.Footer_Facebook_Image}" border="0" alt="{!$Label.Footer_AirAsia_on_Facebook}" width="30" height="30" />
                                        </a>
                                        <a href="{!$Label.Footer_Twitter_Image_Link}" target="_blank">
                                            <img title="{!$Label.Footer_AirAsia_on_Twitter}" src="{!$Label.Footer_Twitter_Image}" border="0" alt="{!$Label.Footer_AirAsia_on_Twitter}" width="30" height="30" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <table style="font-size:11px; color:#666666;" border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td style="padding-top:10px;padding-left:10px;padding-right:10px;padding-bottom:10px">
                                        <span style="font-size:11px; line-height: 14px; font-family:Arial, Helvetica, sans-serif; color:#666666;">
                                            <a style="color:#666666" frontuid="475999" reportname="footer WCI" href="{!$Label.Footer_Web_Check_In_Link}" target="_blank">
                                                {!$Label.Footer_Web_Check_In}
                                            </a>
                                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                            <a style="color:#666666" frontuid="475984" reportname="footer MMB" href="{!$Label.Footer_Manage_My_Booking_Link}" target="_blank">
                                                {!$Label.Footer_Manage_My_Booking}
                                            </a>
                                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                            <a style="color:#666666" frontuid="475986" reportname="footer AskAA" href="{!$Label.Footer_AirAsia_Support_Link}" target="_blank">
                                                {!$Label.Footer_AirAsia_Support}
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:5px; padding-left:10px;padding-right:10px;" valign="top">
                                        <span style="font-size:11px; line-height: 14px; font-family:Arial, Helvetica, sans-serif; color:#666666;">
                                            &copy; {!YEAR(TODAY())} {!$Label.Footer_AirAsia_Berhad}.
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="emailcolsplit" width="200" align="center" valign="top">
                            <table style="padding-bottom:20px; padding-top:5px" border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td class="emailcolsplit" style="padding-left:10px;padding-right:10px;" align="right" valign="top">
                                        <img title="{!$Label.Footer_World_Best_Title} {!YEAR(TODAY())}" src="{!$Label.Footer_World_Best_Title_Link}" border="0" alt="{!$Label.Footer_World_Best_Title} {!YEAR(TODAY())}" height="80" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="15">&nbsp;</td>
        </tr>
    </table>
</apex:component>