<apex:component >
    <apex:attribute name="bodyData" description="This is the value for the component." type="String" required="true" />
    
    <body style="padding:0 0 0 0; margin:0 auto;-webkit-text-size-adjust:none;-ms-text-size-adjust: 100%; font-family:Arial, Helvetica, sans-serif; background-color:#f3f3f3; font-size:14px;">
        <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="emailwrapto100pc" style="-webkit-text-size-adjust:none;-ms-text-size-adjust: 100%;border:#dddddd thin solid">
            <tr>
                <td align="center">
                    <table class="emailwrapto100pc" border="0" cellspacing="0" cellpadding="0" width="640" align="center">
                        <tr>
                            <td align="center" bgcolor="#ffffff">
                                <table width="80%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td height="40">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="85%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; padding:10px;line-height:17px">
                                                <apex:outputText escape="false" value="{!bodyData}"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="80%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td height="40">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</apex:component>