<apex:component >
    <apex:attribute name="header" type="String" description="header value in component" required="true"/>
    <apex:attribute name="date" type="String" description="Date value in component" required="true"/>
    
    <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F3F3F3" class="emailwrapto100pc" style="-webkit-text-size-adjust:none;-ms-text-size-adjust: 100%;">
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td align="center"><table width="640" border="0" align="center" cellpadding="0" cellspacing="0" class="emailwrapto100pc">
                </table>
                <table class="emailwrapto100pc" border="0" cellspacing="0" cellpadding="0" width="620" align="center">
                    <tr>
                        <td><table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="80">
                                    <a href="{!$Label.Header_Image_Link}" urlId="487497" target="_blank" frontuid="334461" style=" display: inline-block;padding: 0 10px 0 0;">
                                        <img src="{!$Label.Header_Image}" alt="{!$Label.Header_Image_Link}" width="80" title="{!$Label.Header_Image_Link}" border="0" style="padding-left:10px;" />
                                    </a>
                                </td>
                                <td style=" font-size:18px; color:#000000; font-family:Arial, Helvetica, sans-serif; padding-left:10px;">
                                    <strong>{!header}</strong><br />
                                    <span style="font-size:11px; line-height:16px; font-family:Arial, Helvetica, sans-serif;" class="appleLinks">
                                        {!date}
                                    </span>
                                </td>
                            </tr>
                            </table></td>
                        <td valign="middle">&nbsp;</td>
                    </tr>
                </table></td>
        </tr>
        <tr>
            <td height="10"></td>
        </tr>
    </table>
</apex:component>