<apex:component >
    <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F3F3F3" class="emailwrapto100pc" style="-webkit-text-size-adjust:none;-ms-text-size-adjust: 100%;">
        <tr>
            <td align="center">
                <table class="emailwrapto100pc" border="0" cellspacing="0" cellpadding="0" width="620" align="center">
                    <tr>
                        <td class="emailcolsplit" width="200" height="15" align="center" valign="top"></td>
                    </tr>
                    <tr>
                        <td class="emailcolsplit" width="200" align="center" valign="top">
                            <table style="padding-bottom:20px; padding-top:5px" border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                    <td class="emailcolsplit" style="padding-left:10px;padding-right:10px;" align="right" valign="top">
                                        <img title="{!$Label.Footer_World_Best_Title} {!YEAR(TODAY())}" src="{!$Label.Footer_World_Best_Title_Link}" border="0" alt="{!$Label.Footer_World_Best_Title} {!YEAR(TODAY())}" height="80" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="15">&nbsp;</td>
        </tr>
    </table>
</apex:component>