<apex:component controller="ChatController" allowDML="true">
    <apex:stylesheet value="{!$Resource.SurveyForce_SLDS + '/assets/styles/salesforce-lightning-design-system-vf.min.css'}"/>
    
    <script>
    
    
    //var surveyQuestion1DisLikeCssClass='';
    //var surveyQuestion1LikeCssClass='';
    //var surveyQuestion2LikeCssClass='';
    //var surveyQuestion2DisLikeCssClass='';
    var surveyQuestion1='';
    var surveyQuestion2='';
    
    function saveSurveyJSFun(){
        var langValue = document.getElementById('langValueId').value;
        if(surveyQuestion1 != '' && surveyQuestion2 != '') {
            saveSurveyJSFunCall(surveyQuestion1,surveyQuestion2,langValue);
        }
        else {
        	var requiredBlock = document.getElementById('requiredBlock');
		    requiredBlock.className='unhidden';
        }
    }
    
    function surveyQuestion1Like(){     
        //document.getElementById('Que1LikeButtonId').className='review-btn like';
        //document.getElementById('Que1DisLikeButtonId').className='review-btn';        
        
        var like1Grey = document.getElementById('like1Grey');
        if (like1Grey) {   
          surveyQuestion1 = (like1Grey.className=='hidden')?'Yes':'';
          like1Grey.className=(like1Grey.className=='hidden')?'unhidden':'hidden';
        }
        
        var dislike1Grey = document.getElementById('dislike1Grey');
        var dislike1Red = document.getElementById('dislike1Red');
              dislike1Grey.className='unhidden';
              dislike1Red.className='hidden';
              
        var like1Green = document.getElementById('like1Green');
        if (like1Green) {
          surveyQuestion1 = (like1Green.className=='hidden')?'Yes':'';
          like1Green.className=(like1Green.className=='hidden')?'unhidden':'hidden';
        }
    
    }
    
    function surveyQuestion1DisLike(){ 
        //document.getElementById('Que1DisLikeButtonId').className='review-btn dislike';
        //document.getElementById('Que1LikeButtonId').className='review-btn';
        
        var dislike1Grey = document.getElementById('dislike1Grey');
        if (dislike1Grey) { 
          surveyQuestion1 = (dislike1Grey.className=='hidden')?'No':'';
          dislike1Grey.className=(dislike1Grey.className=='hidden')?'unhidden':'hidden';
        }
        
        var like1Grey = document.getElementById('like1Grey');
        var like1Green = document.getElementById('like1Green');
        like1Grey.className='unhidden';
        like1Green.className='hidden';
        
        var dislike1Red = document.getElementById('dislike1Red');
        if (dislike1Red) {
          surveyQuestion1 = (dislike1Red.className=='hidden')?'No':'';
          dislike1Red.className=(dislike1Red.className=='hidden')?'unhidden':'hidden';
        }
    }
    
    function surveyQuestion2Like(){        
        var like2Grey = document.getElementById('like2Grey');
        if (like2Grey) {
          surveyQuestion2 = (like2Grey.className=='hidden')?'Yes':'';
          like2Grey.className=(like2Grey.className=='hidden')?'unhidden':'hidden'; 
        }
        
        var dislike2Grey = document.getElementById('dislike2Grey');
        var dislike2Red = document.getElementById('dislike2Red');
              dislike2Grey.className='unhidden';
              dislike2Red.className='hidden';
              
        var like2Green = document.getElementById('like2Green');
        if (like2Green) {
          surveyQuestion2 = (like2Green.className=='hidden')?'Yes':'';
          like2Green.className=(like2Green.className=='hidden')?'unhidden':'hidden';
        }
    
    }
    
    function surveyQuestion2DisLike(){       
    
        var dislike2Grey = document.getElementById('dislike2Grey');
        if (dislike2Grey) {
          surveyQuestion2 = (dislike2Grey.className=='hidden')?'No':'';
          dislike2Grey.className=(dislike2Grey.className=='hidden')?'unhidden':'hidden';
        }
        
        var like2Grey = document.getElementById('like2Grey');
        var like2Green = document.getElementById('like2Green');
        like2Grey.className='unhidden';
        like2Green.className='hidden';
        
        var dislike2Red = document.getElementById('dislike2Red');
        if (dislike2Red) {
          surveyQuestion2 = (dislike2Red.className=='hidden')?'No':'';
          dislike2Red.className=(dislike2Red.className=='hidden')?'unhidden':'hidden';
        }
     
    }
    
    </script>

    <style>

    .hidden { display: none; }
.unhidden { display: block; }

        .user-review-container{
        display: flex;
        align-items: center;
        padding: 0.4rem 0.2rem;
        }
        .review-btn{
        background: #fff;
        padding: 0.4rem;
        cursor: pointer;
        margin: 0;
        border: 1px solid rgb(244, 244, 244);
        color: rgb(170, 170, 170);
        }
        .review-icon svg{
        width: 0.8rem;
        fill: rgb(170, 170, 170);           
        }
        .review-btn:hover, .review-btn:focus{
        background: rgba(204, 0, 0, 0.1);
        }
        .review-btn:hover .review-icon svg, .review-btn:focus .review-icon svg, .review-btn:active .review-icon svg{
        fill: rgb(160, 0, 0)
        }
        .review-btn:focus{
        box-shadow: rgb(0, 112, 210) 0px 0px 3px;
        outline: 0px;
        border: 1px solid transparent;
        }
        .review-btn:active{
        background: rgb(238, 241, 246);
        border: 1px solid transparent;
        }
        .like{
        background: green !important;
        border: 1px solid green !important;
        }
        .review-btn.like .review-icon svg, .review-btn.dislike .review-icon svg{
        fill: #212121;
        }
        .dislike{
        background: rgb(153, 0, 0) !important;
        }
        #first-review{
        margin-left: 0.8rem;
        }
        
        .messageText {
        	color: #fff;
        }
        
    </style>
    
    <body style="padding:0 0 0 0; margin:0 auto;-webkit-text-size-adjust:none;-ms-text-size-adjust: 100%; font-family:Arial, Helvetica, sans-serif; background-color:#f3f3f3; font-size:14px;">
        
        
        
        <table width="640" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="emailwrapto100pc" style="-webkit-text-size-adjust:none;-ms-text-size-adjust: 100%;">
            <tr>
                <td align="center">
                    <table class="emailwrapto100pc" border="0" cellspacing="0" cellpadding="0" width="640" align="center" style="margin:10px;">
                        <tr>
                            <td align="left">
                                <table style="display:{!IF($CurrentPage.parameters.disconnectedBy == 'clientIdleTimeout', 'block', 'none')}">
                                    <tr>
                                        <td style="padding: 10px;">
                                            <strong>{!$Label.Live_Agent_Time_Out_Message}&nbsp;
                                                <a style="color:#666666" href="{!$Label.Live_Agent_Community_Cloud_Link}">
                                                    {!$Label.Live_Agent_Community_Cloud}
                                                </a>
                                            </strong>
                                        </td>
                                    </tr>
                                </table>
                                <table style="display:{!IF($CurrentPage.parameters.disconnectedBy=='agentsUnavailable'||
                                              			   $CurrentPage.parameters.disconnectedBy=='error', 'block', 'none')}">
                                    <tr>
                                        <td style="padding: 10px;">
                                            <strong>{!$Label.AA_Live_Chat_Offline}&nbsp;
                                            </strong>
                                        </td>
                                    </tr>
                                </table>
                                <table style="display:{!IF($CurrentPage.parameters.disconnectedBy=='clientIdleTimeout'||
                                              			   $CurrentPage.parameters.disconnectedBy=='agentsUnavailable'||
                                              			   $CurrentPage.parameters.disconnectedBy=='error', 'none', 'block')}">
                                    <!--
                                    <tr>
                                    <td>
                                    <strong>{!$Label.Live_Agent_Survey_Greeting}</strong>
                                    </td>
                                    </tr>-->
                                    
                                    <tr class="surveyforce">
                                    	<td id="requiredBlock" class="hidden">
                                            <div class="message slds-notify slds-notify--alert slds-theme--error customMessage" role="alert">
                                                <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
                                                    <tbody>
                                                        <tr valign="top">
                                                            <td>
                                                                <img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR" />
                                                            </td>
                                                            <td class="messageCell">
                                                                <div class="messageText">
                                                                    <span>
                                                                        {!$Label.AA_Live_Chat_Required_Fields_Message}
                                                                    </span><br />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                            </td>
                                                            <td>                                                                
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr><tr>
                                        <td style="font-size: smaller;padding-right:10px;">
                                            {!$Label.Live_Agent_Survey_Greeting_2} 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id='details' style="margin-top: 10px;margin-bottom: 10px;">
                                                <apex:form id="formId">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="emailwrapto100pc">
                                                        <tr>
                                                            <td>
                                                                <label>{!$Label.Live_Agent_Survey_Question_1} *</label>
                                                                <!--<apex:selectRadio value="{!surveyQuestion1}">
                                                                <apex:selectOptions value="{!items}"/>
                                                                </apex:selectRadio>-->
                                                                
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            
                                                                            <div class="user-review-container" id="first-review">
                                                                                <!--<apex:actionFunction name="surveyQuestion1Like" action="{!surveyQuestion1Like}" />
                                                                                <apex:actionFunction name="surveyQuestion1DisLike" action="{!surveyQuestion1DisLike}" />-->
                                                                                
                                                                                <button type="button" id="Que1LikeButtonId" class="review-btn" onclick="surveyQuestion1Like()">
                                                                                    <span class="review-icon">
                                                                                        <!--<svg viewBox="0 0 24 24" id="like" width="100%" height="100%" ><path d="M4.8 9.7H2.5c-.3 0-.7.3-.7.7V21c0 .4.4.7.7.7h1.2c1 0 1.8-.8 1.8-1.9v-9.4c0-.4-.3-.7-.7-.7zm15.5.5h-2.8c-1 0-1.8-.9-1.8-1.9V3.7c0-1-.8-1.9-1.9-1.9h-1.1c-.4 0-.7.4-.7.7v2.8c0 2.5-1.7 4.9-3.9 4.9-.4 0-.7.3-.7.6v9.3c0 .3.3.7.6.7 3.2.1 4.2 1.4 7.5 1.4 3.5 0 6.7-.4 6.7-4.4V12c0-1-.9-1.8-1.9-1.8z"></path></svg>-->
                                                                                        
                                                                                        <img src="{!URLFOR($Resource.CC_Resources,'images/icon_like-default.png')}" id="like1Grey" width="30px" height="30px" class="unhidden"/>
                                                                                        
                                                                                        <img src="{!URLFOR($Resource.CC_Resources,'images/icon_like-selected.png')}" id="like1Green" width="30px" height="30px" class="hidden"/>
                                                                                        
                                                                                    </span></button>                                                                                                                            
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="user-review-container">
                                                                                <button type="button" id="Que1DisLikeButtonId" class="review-btn"  onclick="surveyQuestion1DisLike()">
                                                                                    <span class="review-icon">
                                                                                    <!--
                                                                                        <svg viewBox="0 0 24 24" id="dislike" width="100%" height="100%" ><path d="M5.5 13.6V4.2c0-1.1-.8-1.9-1.8-1.9H2.5c-.3 0-.7.3-.7.7v10.6c0 .4.4.7.7.7h2.3c.4 0 .7-.3.7-.7zM22.2 12V6.2c0-4-3.2-4.4-6.7-4.4-3.3 0-4.3 1.3-7.5 1.4-.3 0-.6.4-.6.7v9.3c0 .3.3.6.7.6 2.2 0 3.9 2.4 3.9 4.9v2.8c0 .3.3.7.7.7h1.1c1.1 0 1.9-.9 1.9-1.9v-4.6c0-1 .8-1.9 1.8-1.9h2.8c1 0 1.9-.8 1.9-1.8z"></path></svg>-->
                                                                                                                                                                                                                                                    <img 
                                                                                    src="{!URLFOR($Resource.CC_Resources,'images/icon_dislike-default.png')}" id="dislike1Grey" width="30px" height="30px" class="unhidden"/>
                                                                                        
                                                                                        <img src="{!URLFOR($Resource.CC_Resources,'images/icon_dislike-selected.png')}" id="dislike1Red" width="30px" height="30px" class="hidden"/>
                                                                                    </span></button>                                                               
                                                                                
                                                                            </div>
                                                                        </td>  
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>{!$Label.Live_Agent_Survey_Question_2} *</label>
                                                                <!--<apex:selectRadio value="{!surveyQuestion2}">
                                                                <apex:selectOptions value="{!items}"/>
                                                                </apex:selectRadio>-->
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            
                                                                            <div class="user-review-container" id="first-review">
                                                                                <!-- <apex:actionFunction name="surveyQuestion2Like" action="{!surveyQuestion2Like}" />
                                                                                <apex:actionFunction name="surveyQuestion2DisLike" action="{!surveyQuestion2DisLike}" />-->
                                                                                
                                                                                <button type="button" id="Que2LikeButtonId" class="review-btn" onclick="surveyQuestion2Like()">
                                                                                    <span class="review-icon">
                                                                                    <!--
                                                                                        <svg viewBox="0 0 24 24" id="like" width="100%" height="100%" ><path d="M4.8 9.7H2.5c-.3 0-.7.3-.7.7V21c0 .4.4.7.7.7h1.2c1 0 1.8-.8 1.8-1.9v-9.4c0-.4-.3-.7-.7-.7zm15.5.5h-2.8c-1 0-1.8-.9-1.8-1.9V3.7c0-1-.8-1.9-1.9-1.9h-1.1c-.4 0-.7.4-.7.7v2.8c0 2.5-1.7 4.9-3.9 4.9-.4 0-.7.3-.7.6v9.3c0 .3.3.7.6.7 3.2.1 4.2 1.4 7.5 1.4 3.5 0 6.7-.4 6.7-4.4V12c0-1-.9-1.8-1.9-1.8z"></path></svg>
                                                                                        -->
                                                                                        <img src="{!URLFOR($Resource.CC_Resources,'images/icon_like-default.png')}" id="like2Grey" width="30px" height="30px" class="unhidden"/>
                                                                                        
                                                                                        <img src="{!URLFOR($Resource.CC_Resources,'images/icon_like-selected.png')}" id="like2Green" width="30px" height="30px" class="hidden"/>
                                                                                    </span></button>                                                                                                                            
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="user-review-container">
                                                                                <button type="button" id="Que2DisLikeButtonId" class="review-btn"  onclick="surveyQuestion2DisLike()" >
                                                                                    <span class="review-icon">
                                                                                    <!--
                                                                                        <svg viewBox="0 0 24 24" id="dislike" width="100%" height="100%" ><path d="M5.5 13.6V4.2c0-1.1-.8-1.9-1.8-1.9H2.5c-.3 0-.7.3-.7.7v10.6c0 .4.4.7.7.7h2.3c.4 0 .7-.3.7-.7zM22.2 12V6.2c0-4-3.2-4.4-6.7-4.4-3.3 0-4.3 1.3-7.5 1.4-.3 0-.6.4-.6.7v9.3c0 .3.3.6.7.6 2.2 0 3.9 2.4 3.9 4.9v2.8c0 .3.3.7.7.7h1.1c1.1 0 1.9-.9 1.9-1.9v-4.6c0-1 .8-1.9 1.8-1.9h2.8c1 0 1.9-.8 1.9-1.8z"></path></svg>
                                                                                        -->
                                                                                        <img src="{!URLFOR($Resource.CC_Resources,'images/icon_dislike-default.png')}" id="dislike2Grey" width="30px" height="30px" class="unhidden"/>
                                                                                        
                                                                                        <img src="{!URLFOR($Resource.CC_Resources,'images/icon_dislike-selected.png')}" id="dislike2Red" width="30px" height="30px" class="hidden"/>
                                                                                        
                                                                                    </span></button>                                                               
                                                                                
                                                                            </div>
                                                                        </td>  
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <apex:actionFunction name="saveSurveyJSFunCall" action="{!saveSurvey}" reRender="" immediate="true">
                                                                    <apex:param name="surveyQuestion1Value" assignTo="{!surveyQuestion1}" value="" />
                                                                    <apex:param name="surveyQuestion2Value" assignTo="{!surveyQuestion2}" value="" />   
                                                                    <apex:param name="langValue1" assignTo="{!langValue}" value="" /> 
                                                                </apex:actionFunction>
                                                                
                                                                <input type="hidden" name="caseId" value="{!caseId}" />
                                                                <!--<apex:commandButton style="background-image:none;color: white;padding: 10px 25px;background-color: #FF3333;border-radius: 5px;border: 1px solid #7ac9b7;cursor: pointer;" 
                                                                action="{!saveSurvey}" value="{!$Label.Live_Agent_Survey_Submit}" oncomplete="window.close();" />-->
                                                                <input type="hidden" id="langValueId" value="{!lang}" />
                                                                <!--<apex:inputHidden value="{!lang}" id="langValue"/>-->

                                                                <apex:commandButton style="background-image:none;color: white;padding: 10px 25px;background-color: #FF3333;border-radius: 5px;border: 1px solid #7ac9b7;cursor: pointer;" 
                                                                                    onclick="saveSurveyJSFun(); return false;" value="{!$Label.Live_Agent_Survey_Submit}"/>
                                                                
                                                                
                                                                
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </apex:form>
                                            </div>
                                            <div id='abandoned' style='display: none;'>
                                                {!$Label.Live_Agent_Abandon_Session}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="emailwrapto100pc" width="640" border="0" cellspacing="0" cellpadding="0">
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</apex:component>