.THIS .defaultColor {
    color: #696969;
}

.THIS .defaultBorder {
    border: #bfc5cf thin solid;
    border-radius: 5px;
    padding: 20px;
}

.THIS .defaultMargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.THIS .fontLarge {
    font-size: 1.5em;
}

.THIS .defaultLink {
    color: #ff3333;
    font-weight: 700;
}